html, body, #root, #root>div {
  height: 100%
}

.control-container{
  height: 10%;
  background-color: lightgrey;
}

.bar-container{
  height: 90%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-content: stretch;
  align-items: flex-end;
}

.vertical-bar{
  background-color: turquoise;
  flex-grow: 1;
  border: solid white 1px;
}

.current-bar{
  background-color: teal;
}
